:root {
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray-500: hsl(0, 0%, 42%);
    --gray-950: hsl(0, 0%, 7%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border;
}

body {
    font-size: 15px;
    min-height: 100vh;
    background-color: var(--yellow);
    display: grid;
    place-items: center;
}

.card {
    background-color: var(--white);
    border: 20px solid var(--white);
    border-radius: 10px;
    width: clamp(10rem, 20%, 30rem);
}

img {
    width: 100%;
}

img.avatar {
    width: 1rem;
}

.content {
    margin: 1rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pic-name{
    display: flex;
    width: clamp(4.3rem, 50%, 6.3rem);
    justify-content: space-between;
}

h1{
    font-size: clamp(0.8rem, 1.5vw, 3rem);
}

h1:hover {
    color: var(--yellow);
    cursor: pointer;
}

p{
    font-size: clamp(0.58rem, 1.1vw, 2rem);
}

p.learning {
    background-color: var(--yellow);
    color: var(--gray-950);
    width: clamp(1rem, 25%, 20rem);
    text-align: center;
    padding: 0.3rem 0;
    border-radius: 4px;
    font-weight: 800;
}

p.description {
    color: var(--gray-500);
    margin-bottom: 0.6rem;
}

p.name {
    font-size: clamp(0.6rem, 1.1vw, 2rem);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none; 
}